src/test/resources/xml-artefacts/2/smev-message-exchange-directive-basic-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/basic/1.2"
           xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.2"
           xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/basic/1.2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>Базовые типы.</xs:documentation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью wsimport (для JAX-WS) -->
                <jxb:package name="ru.it.smev.message_exchange.autogenerated.types.directive.basic.v1_2"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.2" schemaLocation="smev-message-exchange-basic-1.2.xsd"/>

    <xs:element name="AttachmentHeaderList">
        <xs:annotation>
            <xs:documentation>
                Заголовки файлов, приложенных к СМЭВ-сообщению.
                Заголовки отделены от содержимого вложений.
                Это нужно потому, что заголовки должны попадать под ЭП-ОВ,
                а содержимое - должно не попадать (иначе не будет работать MTOM).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AttachmentHeader" type="tns:AttachmentHeaderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AttachmentHeaderType">
        <xs:annotation>
            <xs:documentation>
                Файл, приложенный к СМЭВ-сообщению.
                Имя файла не передаётся; вложения идентифицируются только идентификаторами внутри сообщения.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contentId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор вложения. Ссылка на соответствующий //AttachmentContent/@Id
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NamespaceUri" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>Нейспейс вложения (если зарегистрировано в СМЭВ)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="MimeType" type="basic:RFC2046MimeTypesType">
                <xs:annotation><xs:documentation>Тип контента.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="SignaturePKCS7" type="xs:base64Binary" minOccurs="0">
                <xs:annotation><xs:documentation>ЭЦП в формате PKCS#7 detached. Подписывать ключом ЭП-СП.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="Archive" type="tns:ArchiveType" minOccurs="0">
                <xs:annotation><xs:documentation>Объявление передаваемых файлов (через MTOM) в архиве</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RefAttachmentHeaderList">
        <xs:annotation>
            <xs:documentation>
                Заголовки файлов, приложенных к СМЭВ-сообщению.
                Заголовки отделены от содержимого вложений.
                Это нужно потому, что заголовки должны попадать под ЭП-ОВ,
                а содержимое - должно не попадать (иначе не будет работать MTOM).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RefAttachmentHeader" type="tns:RefAttachmentHeaderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RefAttachmentHeaderType">
        <xs:annotation>
            <xs:documentation>
                Ссылка на файл, приложенный к СМЭВ-сообщению.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="uuid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор файла. Ссылка на соответствующий файл.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FileName" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>Имя файла</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="NamespaceUri" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>Нейспейс вложения (если зарегистрировано в СМЭВ)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="Hash" type="xs:string">
                <xs:annotation><xs:documentation>Хэш файла.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="MimeType" type="basic:RFC2046MimeTypesType">
                <xs:annotation><xs:documentation>Тип контента.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="SignaturePKCS7" type="xs:base64Binary" minOccurs="0">
                <xs:annotation><xs:documentation>ЭЦП в формате PKCS#7 detached. Подписывать ключом ЭП-СП.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="Archive" type="tns:ArchiveType" minOccurs="0">
                <xs:annotation><xs:documentation>Объявление передаваемых файлов (через ФХ) в архиве</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArchiveType">
        <xs:annotation>
            <xs:documentation>Объявление передаваемых файлов (через ФХ или MTOM) в архиве</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="File" type="tns:FileType" minOccurs="1" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileType">
        <xs:annotation>
            <xs:documentation>Описание файла</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation><xs:documentation>Наименование файла</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="NamespaceUri" type="xs:string">
                <xs:annotation><xs:documentation>Нейспейс файла вложения</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>


